body{
  font-family: 'Times New Roman', Times, serif;
  margin: 15pt; 
  min-height: 100vh;
  margin-left: 10%;
  margin-right: 10%;
}
#quick-nav{
  text-align: right;
}
.navbar{
  height: fit-content;
  width: 200px;
  text-align: center;
  background-color: beige;
  
}
.navbar h4{
  margin-top: 10px;
  margin-bottom: 0;
}
.navbar a{
  text-align: center;
  display: block;
  padding: 10px;
}
.right_bar{
  height: fit-content;
  width: 200px;
  text-align: center;
  background-color: beige;
  
}
.right_bar h4{
  margin-top: 10px;
  margin-bottom: 0;
}
.right_bar a{
  text-align: center;
  display: block;
  padding: 10px;
}
.main{
  padding-top: 20px;
  display: flex;
  
}
img{
  width: 200px;
  height: 200px;
}
figcaption{
  text-align: center;
}
.my_pic{
  display: inline-block;
  width: min-content;
  padding-left: 30px;
  padding-right: 30px;
}
.write_up{
  display: inline-block;
  padding-right: 20px;
}
.updates{
  padding-right: 20px;
}
.footer{
  text-align: center;
  margin-top: 10px;
  height: 100%;
  width: 100%;
  background-color: beige;
}
footer{
  min-height: 50px;
  text-align: center;
}

body{
  display: flex;
  flex-direction: column;
}
main{
  flex:1;
}